:root {
    --primary-dark-blue: hsl(243, 87%, 12%);
    --primary-desatured-blue: hsl(238, 22%, 44%);
    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);
    --neutral-grayish-blue: hsl(240, 75%, 98%);
    --neutral-light-gray: hsl(0, 0%, 75%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    padding: 8vh;
}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav li {
    display: inline;
    margin-left: 1vh;
}

nav a {
    text-decoration: none;
    text-decoration-line: none;
    color: black;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro {
    padding: 8vh;
}

.intro > .intro-image > img {
    width: 80%;
}

.testimony {
    background-color: var(--neutral-grayish-blue);
    padding: 8vh;
}

.testimony > .testimony-image > img {
    width: 80%;
}

.form {
    background-color: var(--primary-desatured-blue);
    padding: 8vh;
    color: white;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--primary-dark-blue);
    color: white;
    padding: 8vh;
}

footer a {
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}